$white: #fff;
$black: #000;

@mixin shadow($shadow-color) {
    box-shadow: 0 0 .25em adjust_color($shadow-color, $alpha: .5) inset;
}

.word-list {
    position: relative;
  
    &-container {
      display: inline-block;
      margin-top: 1.5em;
    }
  
    &-word {
      display: inline-block;
      padding: 1em;
      border: .125em solid black;
      @include shadow(black);
      text-align: center;
      transition: background 50ms, box-shadow 50ms, color 50ms;
      background: $white;
      color: $black;
      font-size: 1.8em;
      text-transform: capitalize;
      font-weight: 600;
    }

    &-anim-spin {
        animation-name: spin;
        animation-duration: 850ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    &-hidden {
      padding: 1.2em !important; 
    }
  
  }

  @keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
  }